.carousel-inner > .item > img{ min-width: 50%; max-width:50%; float: left;}
/*.carousel-inner > .item > .second_image{ min-width: 50%; max-width:50%; float: left;}*/

/*.carousel {*/
  /*height: 100%;*/
/*}*/

