.carousel-inner > .item > img{ min-width: 50%; float: right;}
/*.carousel-inner > .item > .second_image{ min-width: 50%; max-width:50%; float: left;}*/

.carousel {
  height: 100%;
    min-height: 100%;
    margin-bottom: 0;
}

.carousel .item {
  height: 100%;
    min-height: 100%;
    margin-bottom: 0;
}

.info_well {
    height: 100%;
}


html,body {
  height:100%;
  background-color:#999;
}

.carousel-inner,.carousel,.item,.container,.fill,.active,.row {
  height:100%;
  width:100%;
}

.price_title {
  margin-bottom: 0;
}

.delisted_price {
  color: red;
}