html,body {
  /*height:100%;*/
  background-color:#999;
}


.main_div {
    height:100px;
}


.price_title {
  margin-bottom: 0;
}

.delisted_price {
  color: red;
}

.post_images {
  height: 50%;
}



.Collage{
  max-width: 50%;
        height:80vh;
  /*max-height: 600px;*/
    /*max-height: 90%;*/
    float: left;

    }

.Collage img{

    /* ensures padding at the bottom of the image is correct */
    vertical-align:bottom;
    border: 2px;

    /* hide the images until the plugin has run. the plugin will reveal the images*/
    /*opacity:100%;*/
  /*height: 50%;*/

    }


.navbar {
  margin-bottom: 0;
}