<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title>Data Getter</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

        <!-- Latest compiled and minified JavaScript -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

            <!-- Custom styles for this template -->
    <link href="{% static "css/carousel.css" %}" rel="stylesheet">
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    </head>


  <body>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner" role="listbox">
          <div class="item active row">
          <span id="id_num">{{ posts.0.post.id }}</span>
              <div class="carousel-caption">
                  <h3><b>${{ posts.0.post.price }}</b>: {{ posts.0.post.title }}</h3>
                </div> <!-- caption -->

          <div class="col-md-8">
              {% for image in posts.0.image|slice:":1" %}
                    <img src="{{ MEDIA_URL }}{{ image.image_data }}" alt="First slide">
              {% endfor %}

          </div>

          <div class="col-md-4">
              <div class="well">
                  <a href="{{ posts.0.post.link }}" target="_blank"><b>{{ posts.0.post.title }}</b></a>
{#                  <p>{{ posts.0.post.full_text }}</p>#}
              </div>
          </div>

          </div> <!-- item -->

          {% for post in posts|slice:"1:" %}

          <div class="item row">
          <span id="id_num">{{ post.post.id }}</span>
                  <div class="carousel-caption">
                        <h3><b>${{ post.post.price }}</b>: {{ post.post.title }}</h3>
                    </div>

          <div class="col-md-8">
                {%  for image in post.image|slice:":1" %}
                    <img src="{{ MEDIA_URL }}{{ image.image_data }}" alt="First slide">
                {% endfor %}
          </div>


            <div class="col-md-4">
              <div class="well info_well">
                  <a href="{{ post.post.link }}" target="_blank"><b>{{ post.post.title }}</b></a>
{#                  <p>{{ post.post.full_text }}</p>#}
              </div>
                <div class="well">
                    Cats: {{ post.post.cat_ok }}
                    Dogs: {{ post.post.dog_ok }}
                </div>
          </div>

              </div> <!-- end of item -->
              {% endfor %}

      </div>  <!-- end of carousel innner -->


      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->




{##}
{#        <h1>Data gggggGetter</h1>#}
{#        hello world! <strong>{{ boldmessage }}</strong><hr />#}
{##}
{#    <img src="../../static/assets/screen1.png">#}
{##}
{##}
{##}
{##}
{##}
{#        <img src="{% static "assets/screen1.png" %}">#}
{##}
{#    <hr>#}

{#    {% if posts %}#}
{#        <ul>#}
{#        {% for post in posts %}#}
{#        <li>{{ post.full_text }}</li>#}
{#        {% endfor %}#}
{#        </ul>#}
{#    {% endif %}#}
<script type="application/javascript">
    $(function() {
    $('.carousel').each(function(){
        $(this).carousel({
            interval: false
        });
    });
})

</script>


    <!-- Placed at the end of the document so the pages load faster -->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


    </body>

</html>