<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title>Data Getter</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

        <!-- Latest compiled and minified JavaScript -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <script src="{% static "js/jquery.justifiedGallery.min.js" %}"></script>

        <link href="{% static "css/justifiedGallery.min.css" %}" rel="stylesheet">
            <!-- Custom styles for this template -->
    <link href="{% static "css/carousel.css" %}" rel="stylesheet">
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    </head>


  <body>

  <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">The Home Finder Project</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">All Posts</a></li>
          </ul>

        </div><!--/.nav-collapse -->

    </nav>









    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner" role="listbox">
          <div class="item active row">
          <span id="id_num">{{ posts.0.post.id }}</span>
              <div class="carousel-caption">
                  <h3><b>${{ posts.0.post.price }}</b>: {{ posts.0.post.title }}</h3>
                  {% if posts.0.neighbourhood %}
                  <h4><b>{{ posts.0.neighbourhood }}</b></h4>
                  {%  endif %}

                </div> <!-- caption -->

          <div class="col-md-8" id="basicExample">
              {% for image in posts.0.image|slice:":3" %}
                  <a href="#">
                    <img src="{{ MEDIA_URL }}{{ image.image_data }}" alt="First slide">
                  </a>
              {% endfor %}

          </div>




          <div class="col-md-4">
              <div class="well">
                  <a href="{{ posts.0.post.link }}" target="_blank"><b>{{ posts.0.post.title }}</b></a>
{#                  <p>{{ posts.0.post.full_text }}</p>#}
              </div>
          </div>

          </div> <!-- item -->

          {% for post in posts|slice:"1:" %}

          <div class="item">


              <div class="row" id="basic2">
{#          <div class="col-md-8">#}
                {%  for image in post.image|slice:":3" %}
                   <a><img src="{{ MEDIA_URL }}{{ image.image_data }}" alt="First slide" class="post_images"></a>
                {% endfor %}
{#          </div>#}
</div>

          <script type="application/javascript">
{#              $("#basic2").justifiedGallery({#}
{#                  rowHeight: 400,#}
{#                  maxRowHeight: 300,#}
{#                  fixedHeight: true,#}
{#                  margins: 3,#}
{#                  lastRow: 'justify',#}
{#                  randomize: true#}
{##}
{##}
{#              });#}
          </script>



          <div class="row">
          <div class="well well-large">
                <span id="id_num">{{ post.post.id }}</span>
                  <div class="carousel-caption">
                      <h3>{{ post.post.title }}
                            <a href="{{ post.post.link }}" target="_blank">
                                <span class="glyphicon glyphicon-share-alt"></span></a></h3>
                      {%  if post.neighbourhood %}
                      <h4><b>{{ post.neighbourhood }}</b> ({{ post.landmark }})</h4>
                          {% else %}
                          <h6><b>{{ post.landmark }}</b>  (lat: {{ post.post.lat }}, lon: {{post.post.lon}})</h6>
                      {% endif %}


                  {% if post.post.delisted %}
                  <h5 class="delisted_price">This Post has been Delisted :<</h5>
                  {% endif %}
                  <h2 class="price_title"><b class="">${{ post.post.price }}</b></h2>

                    </div>
          </div>
          </div>


{#              <div class="well info_well">#}
{#                  <a href="{{ post.post.link }}" target="_blank"><b>{{ post.post.title }}</b></a>#}
{#                  <p>{{ post.post.full_text }}</p>#}
{#              </div>#}
                <div class="well">
                    Cats: {{ post.post.cat_ok }}
                    Dogs: {{ post.post.dog_ok }}
                </div>


              </div> <!-- end of item -->
              {% endfor %}

      </div>  <!-- end of carousel innner -->


      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->




{##}
{#        <h1>Data gggggGetter</h1>#}
{#        hello world! <strong>{{ boldmessage }}</strong><hr />#}
{##}
{#    <img src="../../static/assets/screen1.png">#}
{##}
{##}
{##}
{##}
{##}
{#        <img src="{% static "assets/screen1.png" %}">#}
{##}
{#    <hr>#}

{#    {% if posts %}#}
{#        <ul>#}
{#        {% for post in posts %}#}
{#        <li>{{ post.full_text }}</li>#}
{#        {% endfor %}#}
{#        </ul>#}
{#    {% endif %}#}
<script type="application/javascript">
    $(function() {
    $('.carousel').each(function(){
        $(this).carousel({
            interval: false
        });
    });
})

</script>


    <!-- Placed at the end of the document so the pages load faster -->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  <script src="{% static "js/main.js" %}"></script>

    </body>

</html>